body{
    font-family: "Be Vietnam Pro", sans-serif;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
    color: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background: linear-gradient(45deg,rgb(0, 0, 0) 0%,rgb(15, 15, 15) 29%, rgb(35, 35, 35) 100%);
}

header{
    height: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: end;
    width: 100%;
    margin: 0;
    gap: 300px;
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    z-index: 10;
}

header div{
    display: flex;
    align-items: center;
    gap: 20px;
    height: 100%;
}

nav{
    height: 100%;
}

.profil{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hlavicka img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
}

nav div{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
}


.logo{
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(20deg, rgb(0, 153, 255), rgb(0, 193, 219));
    height: 100%;
    display: flex;
    align-items: center;
}

.logo:hover{
    text-decoration: none;
}

h1{
    font-size: 6rem;
    font-weight: 700;
    margin-block: 0;
    text-transform: uppercase;
}

h2{
    margin-bottom: 0;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}

.uvod{
    width: 70%;
    margin-inline: auto;
    margin-block: 0;
    
}

.btns{
    margin-top: 0;
    width: 70%;
    margin-inline: auto;
    transform: translateY(-20px);
    display: flex;
    gap: 15px;
}

.outlined{
    -webkit-text-stroke: 2px black;
    color: transparent
}

button{
    padding: 15px 20px;
    font-family: "Be Vietnam Pro", sans-serif;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    border: none;
}

.btn-primary{
    background: linear-gradient(20deg, rgb(0, 153, 255), rgb(0, 193, 219));
    color: white;
    transition: all 0.2s ease;
}

.btn-secondary{
    background: transparent;
    color: white;
    box-sizing: border-box;
    border: 1px solid white;
    transition: all 0.2s ease;
}

.btn-primary:hover{
    filter: brightness(1.2);
    box-shadow: 0 0 20px rgb(0, 166, 255);
}

.btn-secondary:hover{
    background: white;
    color: black;
}

.uvod p{
    max-width: 600px;
    margin-block: 0;
    opacity: 0.7;
}

footer{
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    font-size: 1rem;
}

a{
    color: white;
    font-weight: 600;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

footer p{
    margin: 0;
}

form{
    margin-top: 0;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(50px);
    box-sizing: border-box;
    color: white;
    height: fit-content;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 50px 20px;
    border-radius: 30px;
    margin-inline: auto;
    box-shadow: 0 0 200px rgb(59, 59, 59);
}

input{
    width: 80%;
    padding: 10px 15px;
    background: rgb(38, 38, 38);
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    color: white;
    outline: none;
}

input[type="submit"]{
    font-family: "Be Vietnam Pro", sans-serif;
    margin-top: 30px;
    width: 70%;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    background: linear-gradient(20deg, rgb(0, 153, 255), rgb(0, 193, 219));
}

form label{
    color: white;
    font-size: 0.7rem;
    width: 80%;
    opacity: 0.7
}

main{
    width: 100%;
    max-width: 1000px;
    height: 100%;
    margin-top: 200px;
    margin-inline: auto;
}


#checked{
    background: linear-gradient(20deg, rgb(0, 153, 255), rgb(0, 193, 219));
}

.post{
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    margin-bottom: 60px;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(50px);
    padding-bottom: 20px;
}

.content{
    display: flex;
    position: relative;
    max-height: 666px;
    max-width: 500px;
    height: 100%;
    width: 100%;
    background: black;
}

.content img{
    max-height: 533px;
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 3px;
    user-select: none;
}

.header{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 60px;
    box-sizing: border-box;
    padding: 10px;
}

.header img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.post p{
    font-weight: 300;
    font-size: 1rem;
    box-sizing: border-box;
    padding: 2px 15px;
}

.side-panel{
    position: fixed;
    top: 20px;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(50px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    height: 95%;
    width: 400px;
    z-index: 10;
    border-radius: 20px;
}

.people{
    left: 20px;
}

.profile{
    right: 20px;
}

.profile img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: block;
    margin-inline: auto;
    border-radius: 50%;
}

.profile #name{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 0;
    font-weight: 600;
}

.profile #username{
    text-align: center;
    font-size: 1rem;
    margin-top: 0;
    opacity: 0.8;
}

#bio{
    margin: 40px 20px;
    font-weight: 300;
    padding: 10px;
    border-radius: 20px;
}

.settings{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;
    height: 50px;
}

.settings a{
    height: 20px;
    padding: 10px 20px;
    border-radius: 20px;
}

.settings a:hover{
    background: rgb(59, 59, 59);
}

#upload{
    background: linear-gradient(20deg, rgb(0, 153, 255), rgb(0, 193, 219));
    padding: 20px 10px;
    font-weight: 500;
    border-radius: 20px;
    text-align: center;
    display: block;
    width: 120px;
    margin-inline: auto;
}

.side-panel h3{
    font-weight: 400;
    text-align: center;
    text-transform: capitalize;
}

.panel{
    height: 50px;
}

.panel img{
    filter: invert();
}

textarea{
    background: rgb(30, 30, 30);
    width: 100%;
    resize: none;
    color: white;
}

.prispevky{
    width: 900px;
    display: flex;
    flex-wrap: wrap;
}

.prispevky img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}
